
/*
   style for btn ->
	class="btn btn-base xyz"
		xyz => sun-flower , orange , carrot , pumpkin , danger-light , danger-dark , 
		success-light , success-dark , green-light , green-dark , info-light , info-dark ,
		purpor-light , purpor-dark , blue-dark , default , silver , gray , dark,dark-orange
*/


/*  effect */

.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
.rippleEffect {
    animation: rippleDrop .3s linear;
}

@keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
/* .\  effect */

.btn {
  .holder;
  display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    margin-right: 2px;
    margin-left: 2px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 3px;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-base{
	width: 140px;
  height: 40px;
}
.btn-base-big{
  width: 200px;
  font-size: 1.2em ;
  height: 50px;
  padding: 14px 12px;
}

.btn-xs, .btn-group-xs>.btn {
    padding: 1px 7px !important;
    font-size: 1.1em !important;
    line-height: 2.1 !important;
    border-radius: 2px !important;
    height: 30px !important;
}
.btn-sm, .btn-group-sm>.btn {
    padding: 5px 12px;
    font-size: 1em;
    line-height: 1.3333333;
    border-radius: 2px;
    height: 30px;
}
.btn-md {
    padding: 8px 12px;
    font-size: 1.2em;
    line-height: 1.3333333;
    border-radius: 2px;
    height: 40px;
}
.btn-lg, .btn-group-lg>.btn {
    padding: 9px 18px;
    font-size: 1.4em;
    line-height: 1.8;
    border-radius: 2px;
    height: 54px;
}

/*   botton background   */

.sun-flower {
  background: #f1c40f !important;
  // border-bottom: 2px solid #e2b607;
  // .box-shadow(inset 0 -2px #e2b607);
  .black;
  &:hover,&:active,&:focus{
  	background: #D4AC0C !important;
  	.black !important;
  	border-color: #D4AC0C !important;
  }
}

.orange {
  background: #f39c12 !important;
  // border-bottom: 2px solid #e8930c;
  // .box-shadow(inset 0 -2px #e8930c);
  .white;
  &:hover,&:active,&:focus{
  	background: #D5880B !important;
  	.white !important;
  	border-color: #D5880B !important;
  }
}
.dark-orange {
  background: #F33F3F !important;
  // border-bottom: 2px solid #e8930c;
  // .box-shadow(inset 0 -2px #e8930c);
  .white;
  &:hover,&:active,&:focus{
    background: #D93939 !important;
    .white !important;
    border-color: #D93939 !important;
  }
}

.carrot {
  background: #e67e22 !important;
  // border-bottom: 2px solid #da751c;
  // .box-shadow(inset 0 -2px #da751c);
  .white;
  &:hover,&:active,&:focus{
  	background: #e65222 !important;
  	.white !important;
  	border-color: #e65222 !important;
  }
}

.pumpkin {
  background: #d35400 !important;
  // border-bottom: 2px solid #c54e00;
  // .box-shadow(inset 0 -2px #c54e00);
  .white;
  &:hover,&:active,&:focus{
  	background: #A34100 !important;
  	.white !important;
  	border-color: #A34100 !important;
  }
}

.danger-light {
  background: #e74c3c !important;
  // border-bottom: 2px solid #db4334;
  // .box-shadow(inset 0 -2px #db4334);
  .white;
  &:hover,&:active,&:focus{
  	background: #DA2E1B !important;
  	.white !important;
  	border-color: #DA2E1B !important;
  }
}
.danger-dark {
  background: #c0392b !important;
  // border-bottom: 2px solid #b53224;
  // .box-shadow(inset 0 -2px #b53224);
  .white;
  &:hover,&:active,&:focus{
  	background: #A63326 !important;
  	.white !important;
  	border-color: #A63326 !important;
  }
}

.success-light {
  background: #1abc9c !important;
  // border-bottom: 2px solid #12ab8d;
  // .box-shadow(inset 0 -2px #12ab8d);
  .white;
  &:hover,&:active,&:focus{
  	background: #16A286 !important;
  	.white !important;
  	border-color: #16A286 !important;
  }
}

.success-dark {
  background: #16a085 !important;
  // border-bottom: 2px solid #14947b;
  // .box-shadow(inset 0 -2px #14947b);
  .white;
  &:hover,&:active,&:focus{
  	background: #117E68 !important;
  	.white !important;
  	border-color: #117E68 !important;
  }
}

.green-light {
  background: #2ecc71 !important;
  // border-bottom: 2px solid #28be68;
  // .box-shadow(inset 0 -2px #28be68);
  .white;
  &:hover,&:active,&:focus{
  	background: #26A65B !important;
  	.white !important;
  	border-color: #26A65B !important;
  }
}

.green-dark {
  background: #27ae60 !important;
  // border-bottom: 2px solid #219d55;
  // .box-shadow(inset 0 -2px #219d55);
  .white;
  &:hover,&:active,&:focus{
  	background: #229652 !important;
  	.white !important;
  	border-color: #229652 !important;
  }
}
.info-light {
  background: #3498db !important;
  // border-bottom: 2px solid #2a8bcc;
  // .box-shadow(inset 0 -2px #2a8bcc);
  .white;
  &:hover,&:active,&:focus{
  	background: #2280BF !important;
  	.white !important;
  	border-color: #2280BF !important;
  }
}

.info-dark {
  background: #2980b9 !important;
  // border-bottom: 2px solid #2475ab;
  // .box-shadow(inset 0 -2px #2475ab);
  .white;
  &:hover,&:active,&:focus{
  	background: #216897 !important;
  	.white !important;
  	border-color: #216897 !important;
  }
}

.purpor-light {
  background: #9b59b6 !important;
  // border-bottom: 2px solid #8d4ca7;
  // .box-shadow(inset 0 -2px #8d4ca7);
  .white;
  &:hover,&:active,&:focus{
  	background: #83449C !important;
  	.white !important;
  	border-color: #83449C !important;
  }
}

.purpor-dark {
  background: #8e44ad !important;
  // border-bottom: 2px solid #80399d;
  // .box-shadow(inset 0 -2px #80399d);
  .white;
  &:hover,&:active,&:focus{
  	background: #783993 !important;
  	.white !important;
  	border-color: #783993 !important;
  }
}

.blue-dark {
  background: #34495e !important;
  // border-bottom: 2px solid #263849;
  // .box-shadow(inset 0 -2px #263849);
  .white;
  &:hover,&:active,&:focus{
  	background: #2B3D4F !important;
  	.white !important;
  	border-color: #2B3D4F !important;
  }
}

.default {
  background: #ecf0f1 !important;
  // border-bottom: 2px solid #dadedf;
  // .box-shadow(inset 0 -2px #dadedf);
  .black;
  &:hover,&:active,&:focus{
  	background: #DCE3E5 !important;
  	.black !important;
  	border-color: #DCE3E5 !important;
  }
}

.silver {
  background: #bdc3c7 !important;
  // border-bottom: 2px solid #acb2b7;
  // .box-shadow(inset 0 -2px #acb2b7);
  .black;
  &:hover,&:active,&:focus{
  	background: #A7AFB4 !important;
  	.black !important;
  	border-color: #A7AFB4 !important;
  }
}

.gray {
  background: #7f8c8d !important;
  // border-bottom: 2px solid #6d7b7c;
  // .box-shadow(inset 0 -2px #6d7b7c);
  .white;
  &:hover,&:active,&:focus{
  	background: #697677 !important;
  	.white !important;
  	border-color: #697677 !important;
  }
}

.dark {
  background: #454545 !important;
  // border-bottom: 2px solid #2f2e2e;
  // .box-shadow(inset 0 -2px #2f2e2e);
  .white;
  &:hover,&:active,&:focus{
  	background: #333333 !important;
  	.white !important;
  	border-color: #333333 !important;
  }
}

@media only screen and (max-width: 769px) {

    .btn{
        margin-left: 0;
        margin-right: 0;
        font-size: 1em;
    }
}