/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/


.input-search {
	width: 290px;
}


.results_items {
	margin: 0 5px;

	.te {
		font-size: 11px;
		margin: 0 5px;
	}
}

.dashboard-stat {
    display: block;
    margin-bottom: 25px;
    overflow: hidden;
    border-radius: 4px;
}
.dashboard-stat .visual {
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 35px;
}
.dashboard-stat .visual>i {
    margin-left: -35px;
    font-size: 110px;
    line-height: 110px;
    opacity: .2;
    color: #ffffff
}
.dashboard-stat .details {
    position: absolute;
    right: 15px;
    padding-right: 15px;
}
.dashboard-stat .details .number {
    padding-top: 25px;
    text-align: right;
    font-size: 34px;
    line-height: 36px;
    letter-spacing: -1px;
    margin-bottom: 0;
    font-weight: 300;
    color: #ffffff;
}
.dashboard-stat .details .desc {
    text-align: right;
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 300;
    color: #ffffff;
    opacity: 1;
}
.dashboard-stat .more {
    clear: both;
    display: block;
    padding: 6px 10px;
    position: relative;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 11px;
    opacity: .7;
    filter: alpha(opacity=70);
}


.user-icons {

	margin: 20px 0;	
	li {
		float: right;
		margin: 0 5px;
		a {
			font-size: 30px;
		}
	}
	
}




.lider-optiond {
	float: right;
	width: 100%;
	display: block;
	margin: 5px;
	strong {
		display: inline-block;
		float: right;
		padding: 0 5px;
		border-left: 1px solid #ccc;

		&:last-child {
			border: none;
		}
		small {
			display: inline-block;
			font-size: 13px;
		}
	}
}










.tabs_styled_3 .nav-tabs li.show .nav-link,
.tabs_styled_3 .nav-tabs .nav-link.active {
    color: #333;
    background-color: #fff;
    border-color: #e1e8ed;
    border-bottom: 1px solid transparent
}

@media (max-width:767px) {
    #breadcrumb {
        padding: 15px 0
    }
    .tabs_styled_3 .nav-tabs li.show .nav-link,
    .tabs_styled_3 .nav-tabs .nav-link.active {
        border: 1px solid transparent
    }
}

.tabs_styled_3 .nav-tabs .nav-link.active:hover,
.tabs_styled_3 .nav-tabs .nav-link:focus {
    border-color: #e1e8ed;
    border-bottom: 1px solid transparent
}

@media (max-width:767px) {
    .tabs_styled_3 .nav-tabs .nav-link.active:hover,
    .tabs_styled_3 .nav-tabs .nav-link:focus {
        border: 1px solid transparent
    }
    .tabs_styled_2 .tab-pane {
        padding: 0;
    }
    
    .mm-panels>.mm-panel>.mm-listview li {
        margin-right: 100px;
    }
}

.tabs_styled_3 .nav-tabs .nav-link:hover {
    border-color: transparent
}

@media (max-width:767px) {
    .tabs_styled_3 li {
        display: block;
        width: 100%;
        margin-bottom: 5px;
        // border: 1px solid #e1e8ed;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px
    }
}

.tabs_styled_3 .nav-tabs .nav-link {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 16px;
    // font-size: 1rem;
    font-weight: 600;
    padding: .75rem .9rem;
    margin-right: 5px
}

@media (max-width:767px) {
    .tabs_styled_3 .nav-tabs .nav-link {
        margin-right: 0;
        padding: .5rem
    }
}

.tabs_styled_3 .nav-tabs {
    border-bottom: 1px solid #e1e8ed
}

.tabs_styled_3 .tab-pane {
    background-color: #fff;
    padding: 30px 30px 20px;
    border: 1px solid #e1e8ed;
    border-top: none
}

.tabs_styled_3 .tab-pane hr {
    margin: 30px -30px;
    border-color: #ededed
}


@media (min-width: 760px ) and (max-width: 850px) {


	#custom-search-input {

		.select2.select2-container  {
			
		}

		.input-search {
			margin: 10px 0;
			width: 100%;
		}
	}



}


@media (min-width: 475px ) and (max-width: 759px) {


	#custom-search-input {

		.select2.select2-container  {
			width: 400px !important;
			margin: 5px 10px;
		}
		.margin-rl-10 {
			margin: 0 !important;
		}

		.input-search {
			margin: 10px auto;
			width: 90%;
			display: table;
		}
	}



}

@media(max-width: 474px) {


	#custom-search-input {

		.select2.select2-container  {
			width: 350px !important;
			margin: 5px 10px;
		}
		.margin-rl-10 {
			margin: 0 !important;
		}

		.input-search {
			margin: 10px auto;
			width: 90%;
			display: table;
		}
	}



}

.search_select_pull {
	float: left;
}
.search_bar_list input[type=submit] {
	right: 25%;
}
@media (max-width: 992px) {
	.search_bar_list input[type=submit] {
		right: 0;
	}
}

.why_the_best {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 2;
    .bg-maroon;
    padding: 9px 10px;
    color: #fff;
    line-height: 1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;

}

.widget ul.cats li{
    padding: 7px 10px;
    background-color: #F6F6F6;
    margin: 2px 0;
    transition: all .1s ease;

    a {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &:hover , &.active {
        background-color: #36B8B1;
        transition: all .1s ease;
        & *{
            color: #fff;
            transition: all .1s ease;
        }
    }
}
.widget ul.cats {
    height: 364px;
    overflow-y: scroll;

    &::-webkit-scrollbar{
        width: 10px;
        background-color: #F5F5F5;
        visibility: hidden;
    }
    &:hover{
        
        &::-webkit-scrollbar,&::-webkit-scrollbar-thumb
        {
            visibility: visible;
        }
    }
    &::-webkit-scrollbar-thumb{
        background-color:#333c4d;
        border-radius:10px;
        visibility: hidden;
    }
    &::-webkit-scrollbar-thumb:hover{
            background-color:rgba(8, 17, 33, 1);
            border:1px solid #39A99D;
            visibility: visible;
        }
    &::-webkit-scrollbar-thumb:active{
        background-color:rgba(8, 17, 33, 1);
        border:1px solid #39A99D;
        visibility: visible;
    } 
}

.text-limit-line{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.adds {
    display: block;

    .items {
        display: block;
        padding: 5px;

        img {
            width: 100%;
        }
    }
}
.row {
    margin: 0 !important;
}
.mm-listview .mm-next {
    background: rgba(3,2,1,.1);
}

/*============================================================================================*/
/* slider*/
/*============================================================================================*/


.my_bxslider {
    position: relative;
    text-align: center;

    .mask {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.3);
    }
    .content {
        position: absolute;
        top: 15%;
        right: auto;
        left: auto;
    }
}


/*============================================================================================*/
/* .\ slider*/
/*============================================================================================*/
