@media only screen and (min-width:992px) {
    nav#menu.main-menu {
        display: block!important
    }
    #mm-menu.main-menu,
    header .btn_mobile {
        display: none!important
    }
    .main-menu {
        position: relative;
        z-index: 9;
        width: auto;
        top: 11px;
        float: right;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        color: #fff
    }
    .main-menu ul,
    .main-menu ul li {
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 0
    }
    
    .main-menu ul a,
    .main-menu ul li a {
        position: relative;
        margin: 0;
        display: block;
        padding: 5px 10px;
        white-space: nowrap
    }
    .main-menu>ul>li span>a {
        color: #333;
        padding: 0 8px 17px;
        font-size: 14px;
        font-size: .875rem;
        font-weight: 500
    }
    .main-menu>ul>li span:hover>a {
        color: #e74e84
    }
    .main-menu ul ul , .main-menu ul ul ul {
        position: absolute;
        z-index: 1;
        visibility: hidden;
        right: 3px;
        top: 100%;
        margin: 0;
        display: block;
        padding: 0;
        background: #fff;
        min-width: 210px;
        -webkit-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .175);
        -moz-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .175);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
        -webkit-transition: all .2s ease;
        -ms-transition: all .2s ease;
        transition: all .2s ease;
        border-top: 2px solid #e74e84
    }
    .main-menu ul ul ul {
        top: 10px !important;
        right: 100% !important;
    }
    .main-menu ul ul li {
        display: block;
        height: auto;
        padding: 0
    }
    .main-menu ul ul li a {
        font-size: 13px;
        font-size: .8125rem;
        color: #555;
        border-bottom: 1px solid #ededed;
        display: block;
        padding: 15px 10px;
        line-height: 1
    }
    .main-menu ul li:hover>ul {
        padding: 0;
        visibility: visible;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
    .main-menu ul ul li:last-child a {
        border-bottom: none
    }
    .main-menu ul ul li:hover>a {
        background-color: #f9f9f9;
        color: #e74e84;
        padding-left: 15px;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease
    }
}

@media only screen and (max-width:991px) {
    .btn_mobile {
        position: absolute;
        left: 15px;
        top: 15px;
        width: 30px;
        display: block;
        z-index: 9999
    }
    .hamburger-inner,
    .hamburger-inner::after,
    .hamburger-inner::before {
        background-color: #333!important
    }
    .hamburger--spin.is-active .hamburger-inner,
    .hamburger--spin.is-active .hamburger-inner::after,
    .hamburger--spin.is-active .hamburger-inner::before {
        background-color: #e74e84!important
    }
    nav#menu {
        display: none!important
    }
    .mm-menu {
        background: #fff!important
    }
    .main-menu {
        top: 0;
        right: 0;
        float: none
    }
    ul.mm-listview {
        line-height: 25px
    }
    ul.mm-listview li a {
        color: #555!important;
        display: block
    }
}