

/* this style is mixins lke margins & paddings & text & ...   */

.margin-top-5 { margin-top: 5px !important; }
.margin-top-10 { margin-top: 10px !important; }
.margin-top-15 { margin-top: 15px !important; }
.margin-top-20 { margin-top: 20px !important; }
.margin-top-25 { margin-top: 25px !important; }
.margin-top-30 { margin-top: 30px !important; }
.margin-top-40 { margin-top: 40px !important; }
.margin-top-50 { margin-top: 50px !important; }

.margin-right-5 { margin-right: 5px !important }
.margin-right-10 { margin-right: 10px !important }
.margin-right-15 { margin-right: 15px !important }
.margin-right-20 { margin-right: 20px !important }
.margin-right-25 { margin-right: 25px !important }
.margin-right-30 { margin-right: 30px !important }
.margin-right-40 { margin-right: 40px !important }
.margin-right-50 { margin-right: 50px !important }

.margin-left-5 { margin-left: 5px !important }
.margin-left-10 { margin-left: 10px !important }
.margin-left-15 { margin-left: 15px !important }
.margin-left-20 { margin-left: 20px !important }
.margin-left-25 { margin-left: 25px !important }
.margin-left-30 { margin-left: 30px !important }
.margin-left-40 { margin-left: 40px !important }
.margin-left-50 { margin-left: 50px !important }

.margin-bottom-5 { margin-bottom: 5px !important; }
.margin-bottom-10 { margin-bottom: 10px !important; }
.margin-bottom-15 { margin-bottom: 15px !important; }
.margin-bottom-20 { margin-bottom: 20px !important; }
.margin-bottom-25 { margin-bottom: 25px !important; }
.margin-bottom-30 { margin-bottom: 30px !important; }
.margin-bottom-40 { margin-bottom: 40px !important; }
.margin-bottom-50 { margin-bottom: 50px !important; }

.padding-top-5 { padding-top: 5px !important; }
.padding-top-10 { padding-top: 10px !important; }
.padding-top-15 { padding-top: 15px !important; }
.padding-top-20 { padding-top: 20px !important; } 
.padding-top-25 { padding-top: 25px !important; }
.padding-top-30 { padding-top: 30px !important; }
.padding-top-40 { padding-top: 40px !important; }
.padding-top-50 { padding-top: 50px !important; }

.padding-right-5 { padding-right: 5px !important }
.padding-right-10 { padding-right: 10px !important }
.padding-right-15 { padding-right: 15px !important }
.padding-right-20 { padding-right: 20px !important }
.padding-right-25 { padding-right: 25px !important }
.padding-right-30 { padding-right: 30px !important }
.padding-right-40 { padding-right: 40px !important }
.padding-right-50 { padding-right: 50px !important }

.padding-left-5 { padding-left: 5px !important }
.padding-left-10 { padding-left: 10px !important }
.padding-left-15 { padding-left: 15px !important }
.padding-left-20 { padding-left: 20px !important}
.padding-left-25 { padding-left: 25px !important }
.padding-left-30 { padding-left: 30px !important }
.padding-left-40 { padding-left: 40px !important }
.padding-left-50 { padding-left: 50px !important }

.padding-bottom-5 { padding-bottom: 5px !important; }
.padding-bottom-10 { padding-bottom: 10px !important; }
.padding-bottom-15 { padding-bottom: 15px !important; }
.padding-bottom-20 { padding-bottom: 20px !important; }
.padding-bottom-25 { padding-bottom: 25px !important; }
.padding-bottom-30 { padding-bottom: 30px !important; }
.padding-bottom-40 { padding-bottom: 40px !important; }
.padding-bottom-50 { padding-bottom: 50px !important; }


.margin-5 { margin: 5px !important }
.margin-10 { margin: 10px !important }
.margin-tb-5 { margin: 5px 0 !important }
.margin-tb-10 { margin: 10px 0 !important }
.margin-tb-15 { margin: 15px 0 !important }
.margin-tb-20 { margin: 20px 0 !important }
.margin-rl-5 { margin: 0 5px !important }
.margin-rl-10 { margin: 0 10px !important }
.margin-rl-20 { margin: 0 20px !important }

.padding-5 { padding: 5px !important; }
.padding-10 { padding: 10px !important; }
.padding-tb-10 { padding: 10px 0 !important }
.padding-tb-15 { padding: 15px 0 !important }
.padding-tb-20 { padding: 20px 0 !important }
.padding-rl-5 { padding: 0 5px !important }
.padding-rl-10 { padding: 0 10px !important }
.padding-rl-20 { padding: 0 20px !important }

.no-margin {margin: 0 !important}
.no-padding { padding: 0 !important }
.no-margin-right {margin-right: 0 !important}
.no-margin-left { margin-left: 0 !important}
.rounded-5 {
  border-radius: 5px !important; 
}
.rounded-3 {
  border-radius: 3px !important; 
}
.rounded-bottom-5 {
  border-radius: 0 0 5px 5px !important; 
}
.rounded-top-5 {
  border-radius: 5px 5px 0 0  !important; 
}
.rounded {
  border-radius: 50% !important; 
}

.holder {
	position: relative;
}

/* images size */
.img-sm {
	width: 60px !important;
	height: 60px !important;
}
.img-md {
	width:80px !important;
	height:80px !important;
}
.img-lg {
	width: 100px !important;
	height: 100px !important;
}



/* images size */

.center-box {
	margin: auto !important;
	display: table !important;
}
@media only screen and (max-width: 769px) {
  .xs-center-box{
    margin: auto !important;
    display: table !important;
  }
}

.pull-right {
	float: right !important;
}
.pull-left {
	float: left !important;
}
/* text postions*/
.text-right { text-align: right !important; }
.text-left { text-align: left !important; }
.text-center { text-align: center !important; }
/* text postions*/

.border {border-style: solid;border-width: 1px}

 hr{
	 border:1px solid rgba(185,185,185,.70);
	 // width:70%;
	 // margin:auto;
}

.dis-blok{
	display: block !important;
}
.dis-inline {
  display: inline !important; 
}
.dis-inline-block{
  display: inline-block!important
}
.ltr{
	direction: ltr !important;
}
.rtl{
	direction: rtl !important;
}




.hidden-xs {
  @media (max-width: @screen-xs-max) {
    display: none !important;
  }
}
.hidden-sm {
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    display: none !important;
  }
}
.hidden-sm-and-down {
  @media (max-width: @screen-sm-max) {
    display: none !important;
  }
}
.hidden-sm-and-up {
  @media (min-width: @screen-sm-min) {
    display: none !important;
  }
}
.hidden-md {
  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    display: none !important;
  }
}
.hidden-md-and-down {
  @media (max-width: @screen-md-max) {
    display: none !important;
  }
}
.hidden-md-and-up {
  @media (min-width: @screen-md-min) {
    display: none !important;
  }
}
.hidden-lg {
  @media (min-width: @screen-lg-min) {
    display: none !important;
  }
}
.show-xs {
  @media (max-width: @screen-xs-max) {
    display: block !important;
  }
}
.show-sm {
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    display: block !important;
  }
}
.show-md {
  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    display: block !important;
  }
}
.show-lg {
  @media (min-width: @screen-lg-min) {
    display: block !important;
  }
}