
// .wrapper {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: box;
//   display: flex;
//   -webkit-box-align: center;
//   -o-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   -webkit-box-pack: center;
//   -o-box-pack: center;
//   -ms-flex-pack: center;
//   justify-content: center;
//   -webkit-box-orient: vertical;
//   -o-box-orient: vertical;
//   -ms-flex-direction: column;
//   flex-direction: column;
//   height: 100%;
// }
.mygreen {
  margin-top: 15px;
}
.mygreen .progress,
.red .progress,
.orange .progress {
  position: relative;
  border-radius: 50%;
}
.mygreen .progress,
.red .progress,
.orange .progress {
  width: 150px;
  height: 150px;
}
.mygreen .progress {
  border: 5px solid #53fc53;
}
.mygreen .progress {
  -webkit-box-shadow: 0 0 20px #029502;
  box-shadow: 0 0 20px #029502;
}
.mygreen .progress,
.red .progress,
.orange .progress {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.mygreen .progress .inner,
.red .progress .inner,
.orange .progress .inner {
  position: absolute;
  overflow: hidden;
  z-index: 2;
  border-radius: 50%;
}
.mygreen .progress .inner,
.red .progress .inner,
.orange .progress .inner {
  width: 140px;
  height: 140px;
}
.mygreen .progress .inner,
.red .progress .inner,
.orange .progress .inner {
  border: 5px solid #1a1a1a;
}
.mygreen .progress .inner,
.red .progress .inner,
.orange .progress .inner {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.mygreen .progress .inner .water,
.red .progress .inner .water,
.orange .progress .inner .water {
  position: absolute;
  z-index: 1;
  width: 200%;
  height: 200%;
  left: -50%;
  border-radius: 40%;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: spin;
  animation-name: spin;
}
.mygreen .progress .inner .water {
  top: 25%;
}
.mygreen .progress .inner .water {
  background: rgba(83,252,83,0.5);
}
.mygreen .progress .inner .water,
.red .progress .inner .water,
.orange .progress .inner .water {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.mygreen .progress .inner .water,
.red .progress .inner .water,
.orange .progress .inner .water {
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}
.mygreen .progress .inner .water {
  -webkit-box-shadow: 0 0 20px #03bc03;
  box-shadow: 0 0 20px #03bc03;
}
.mygreen .progress .inner .glare,
.red .progress .inner .glare,
.orange .progress .inner .glare {
  position: absolute;
  top: -120%;
  left: -120%;
  z-index: 5;
  width: 200%;
  height: 200%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 50%;
}
.mygreen .progress .inner .glare,
.red .progress .inner .glare,
.orange .progress .inner .glare {
  background-color: rgba(255,255,255,0.15);
}
.mygreen .progress .inner .glare,
.red .progress .inner .glare,
.orange .progress .inner .glare {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.mygreen .progress .inner .percent,
.red .progress .inner .percent,
.orange .progress .inner .percent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: bold;
  text-align: center;
}
.mygreen .progress .inner .percent,
.red .progress .inner .percent,
.orange .progress .inner .percent {
  line-height: 153px;
  font-size: 50.31px;
}
.mygreen .progress .inner .percent {
  color: #03c603;
}
.mygreen .progress .inner .percent {
  text-shadow: 0 0 10px #029502;
}
.mygreen .progress .inner .percent,
.red .progress .inner .percent,
.orange .progress .inner .percent {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.red {
  margin-top: 15px;
}
.red .progress {
  border: 5px solid #ed3b3b;
}
.red .progress {
  -webkit-box-shadow: 0 0 20px #7a0b0b;
  box-shadow: 0 0 20px #7a0b0b;
}
.red .progress .inner .water {
  top: 75%;
}
.red .progress .inner .water {
  background: rgba(237,59,59,0.5);
}
.red .progress .inner .water {
  -webkit-box-shadow: 0 0 20px #9b0e0e;
  box-shadow: 0 0 20px #9b0e0e;
}
.red .progress .inner .percent {
  color: #a30f0f;
}
.red .progress .inner .percent {
  text-shadow: 0 0 10px #7a0b0b;
}
.orange {
  margin-top: 15px;
}
.orange .progress {
  border: 5px solid #f07c3e;
}
.orange .progress {
  -webkit-box-shadow: 0 0 20px #7e320a;
  box-shadow: 0 0 20px #7e320a;
}
.orange .progress .inner .water {
  top: 50%;
}
.orange .progress .inner .water {
  background: rgba(240,124,62,0.5);
}
.orange .progress .inner .water {
  -webkit-box-shadow: 0 0 20px #a0400c;
  box-shadow: 0 0 20px #a0400c;
}
.orange .progress .inner .percent {
  color: #a8430d;
}
.orange .progress .inner .percent {
  text-shadow: 0 0 10px #7e320a;
}
#copyright {
  margin-top: 25px;
  background-color: transparent;
  font-size: 14px;
  color: #b3b3b3;
  text-align: center;
}
#copyright div {
  margin-bottom: 10px;
}
#copyright a,
#copyright a:link {
  color: #808080;
  text-decoration: none;
  border-bottom: 1px solid #808080;
  padding-bottom: 2px;
}
#copyright a:active {
  color: #b3b3b3;
}
#copyright a:hover {
  color: #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 4px;
}
.instructions {
  display: inline-block;
  margin: 5px 0;
  font-size: 16px;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
