
@media only screen and (max-width: 992px) {



  table.responsive-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;
    td {
      &:empty {
        &:before {
          content: '\00a0';
        }
      }
      margin: 0;
      vertical-align: top;
      display: block;
      min-height: 1.8em;
      text-align: right;
    }
    th {
      margin: 0;
      vertical-align: top;
      text-align: right;
      display: block;
      text-align: right;
           &.res-th-img {
          height: 77px !important;
          }
    }
    thead {
      display: block;
      float: right;
      border: 0;
      border-right: 1px solid #d0d0d0;
      tr {
        display: block;
        padding: 0 10px 0 0;
        th {
          &::before {
            content: "\00a0";
          }
        }
      }
    }
    tbody {
      display: block;
      width: auto;
      position: relative;
      overflow-x: auto;
      white-space: nowrap;
      tr {
        display: inline-block;
        vertical-align: top;
       
      }
    }
    tr {
      padding: 0 10px;
    }
  }
  table.responsive-table.bordered {
    th {
      border-bottom: 0;
      border-left: 0;
    }
    td {
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
    }
    tr {
      border: 0;
    }
    tbody {
      tr {
        border-right: 1px solid #d0d0d0;
      }
    }
  }
  


}
@media only screen and (max-width: 488px) {
  
  table.responsive-table {
     th,td {
      font-size: 12px !important;
     }
     
  }
#inOrders {
  .card-content {

          padding-right: 5px !important;
          padding-left: 5px !important;
      }
      .card-header {
        height: 78px !important;
      }
  }

.tabs-head {
  
  li {
    margin-bottom: 30px !important;
  }
}

}